*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Montserrat;
}
.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.download-cv-link {
  font-size: 14px;
  line-height: 1.5;
  margin-right: 10px;
  color: #ff6b08;
  text-decoration: none;
}

.download-cv-link:hover {
  text-decoration: none;
  text-decoration: underline;
}

.sidebar {
  width: 370px;
  background: #545454;
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  color: #ffffff;
  padding: 60px 0;
}

.my-photo {
  width: 370px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.contact-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-link {
  display: flex;
  color: #bebebe;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.contact-link:hover {
  color: #ff6b08;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff;
}
.tech-skills-container {
  color: #ffffff;
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.tech-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 15px;
}

.tech-skills-text {
  color: #ffffff;
}
.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff;
}
.soft-skills-container {
  color: #ffffff;
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.soft-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 15px;
}

.soft-skills-text {
  color: #ffffff;
}

.profession {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #202020fd;
}

.name {
  margin-bottom: -5px;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
}

.personal {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
}
.descripsion {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 24px;
  color: #595959;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.08;
  margin-bottom: 10px;
}
.progects-link {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.dots {
  color: #d3d3d3;
  font-weight: 400;
}
.project-item {
  font-weight: 700;
  margin-left: 15px;
  line-height: 1.15;
}
.project-container {
  margin-bottom: 65px;
}

.about-project {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #464545;
}
.professional-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
.professional-company {
  color: #ff6b08;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  scroll-margin-bottom: 14px;
}
.profession-divider {
  color: black;
}
.professional-duties {
  margin-top: 10px;
  margin-bottom: 20px;
}
.professional-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #595959;
}
.education-container {
  margin-top: 55px;
}