* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Montserrat;
}
.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  width: 370px;
  background: linear-gradient(
    180deg,
    rgb(255, 107, 8),
    rgb(64, 65, 65),
    rgb(65, 66, 66)
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  color: #ffffff;
  padding: 60px 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.my-photo {
  width: 370px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.contact-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-link {
  color: #7d848d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.contact-link-type {
  width: 14px;
  height: 34px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contact-link:hover {
  color: #ff6b08;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
.tech-skills-container {
  color: #ffffff;
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.tech-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.tech-skills-text {
  color: #ffffff;
}
.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
.soft-skills-container {
  color: #ffffff;
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.soft-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.soft-skills-text {
  color: #ffffff;
}
.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.descripsion {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  color: #595959;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.progects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #d3d3d3;
  font-weight: 400;
}
.project-item {
  font-weight: 700;
  margin-left: 15px;
}
.project-container {
  margin-bottom: 65px;
}
.professional-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.professional-company {
  color: #ff6b08;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  scroll-margin-bottom: 14px;
}
.profession-divider {
  color: black;
}
.professional-duties {
  margin-top: 11px;
  margin-bottom: 30px;
}
.professional-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.education-container {
  margin-top: 55px;
}
